@model CompanyManagementWeb.ViewModels.PostCreateViewModel

@{
    ViewData["Title"] = "Chỉnh sửa bài đăng";
}
<link rel="stylesheet" href="~/lib/summernote/summernote-lite.min.css" />

<div>
    <a asp-action="Index">Trở về</a>
</div>
<h1>Chỉnh sửa bài đăng</h1>
<div class="card mt-4">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group mb-2">
                        <label asp-for="Title" class="control-label mb-2">Tiêu đề</label>
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-2">
                        <label asp-for="Description" class="control-label mb-2">Mô tả ngắn</label>
                        <textarea asp-for="Description" class="form-control"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-2">
                        <label asp-for="Content" class="control-label mb-2">Nội dung</label>
                        <textarea asp-for="Content" class="form-control"></textarea>
                        <span asp-validation-for="Content" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-2">
                        <label asp-for="CategoryID" class="control-label mb-2">Phòng ban</label>
                        <select asp-for="CategoryID" class ="form-control" asp-items="Model.Categories"></select>
                    </div>
                    <div class="form-group mb-2">
                        <label asp-for="DepartmentId" class="control-label mb-2">Phòng ban</label>
                        <select asp-for="DepartmentId" class ="form-control" asp-items="Model.Departments">
                            <option value="">Select department</option>
                        </select>
                    </div>
                    <div class="form-group mb-3">
                        <input type="submit" value="Lưu" class="btn btn-primary" />
                        <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Xóa</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/lib/summernote/summernote-lite.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#Content').summernote();
        });
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
