@model CompanyManagementWeb.ViewModels.PostIndexViewModel
@inject CompanyManagementWeb.Services.IUserService userService

@{
    ViewData["Title"] = "Index";
}

<div class="d-flex justify-content-between my-3">
    <h2 class="m-0 align-bottom">Bài đăng</h2>
    @if (await userService.IsInPermission("Post", "Edit"))
    {
        <a class="m-0 align-bottom btn btn-secondary" asp-action="Create">Tạo bài đăng</a>
    }
</div>

<div class="card">
    <div class="col-md-12 card-body">
        <form id="searchForm" asp-action="Search" class="row">
            <div class="col-md-3 form-group mb-2">
                <label asp-for="SearchValue" class="control-label mb-2">Tìm kiếm</label>
                <input asp-for="SearchValue" class="form-control" />
            </div>
            <div class="col-md-3 form-group mb-2">
                <label asp-for="FromDate" class="control-label mb-2">Từ ngày</label>
                <input asp-for="FromDate" type="datetime-local" class="form-control" />
            </div>
            <div class="col-md-3 form-group mb-2">
                <label asp-for="ToDate" class="control-label mb-2">Đến ngày</label>
                <input asp-for="ToDate" type="datetime-local" class="form-control" />
            </div>
            <div class="col-md-3 form-group mb-2">
                <label asp-for="DepartmentId" class="control-label mb-2">Phòng ban</label>
                <select asp-for="DepartmentId" class ="form-control">
                    <option value="">All</option>
                    @foreach (var item in Model.Departments)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Tìm kiếm" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div id="postList">
    <partial name="PostListPartial" model="Model" />
</div>

@section Scripts {
    <script>
        $("#searchForm").submit(function(e) {
            e.preventDefault();
            console.log("search");

            var form = $(this);
            var actionUrl = form.attr('action');

            $.ajax({
                type: 'GET',
                url: actionUrl,
                data: form.serialize(),
                success: function (response) {
                    $('#postList').html(response);
                },
                error: function (response, status, error) {
                    console.log(status);
                },
            });
        });
    </script>
}