@* @model CompanyManagementWeb.ViewModels.CompanyUserIndexViewModel *@

@{
    ViewData["Title"] = "Index";
}

<h3>Thành viên tham gia</h3>
<hr />
<table class="table border border-2">
    <thead>
        <tr>
            <th>
                Người tham gia
            </th>
            <th>
                Phòng ban
            </th>
            <th>
                Quyền hạn
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="content">
        <partial name="CompanyUsersPartial" model="Model">
    </tbody>
</table>


@section Scripts {
    <script>
        function selectDepartment(userId, selectObject) {
            console.log('call post');
            $.ajax({
                type: 'post',
                url: '@Url.Action("SetDepartment")',
                dataType: "json",
                data: {
                    userId: userId,
                    departmentId: selectObject.value
                },
                success: function (response) {
                    console.log(response);
                },
                error: function (response, status, error) {
                    console.log(status);
                },
            });
        };

        function selectRole(userId, selectObject) {
            console.log('call post');
            $.ajax({
                type: 'post',
                url: '@Url.Action("SetRole")',
                dataType: "json",
                data: {
                    userId: userId,
                    roleId: selectObject.value
                },
                success: function (response) {
                    console.log(response);
                },
                error: function (response, status, error) {
                    console.log(status);
                },
            });
        };

        function deleteUser(userId) {
            console.log('call post');
            $.ajax({
                type: 'post',
                url: '@Url.Action("Delete")',
                data: {
                    userId: userId
                },
                success: function (response) {
                    $('#content').html(response);
                    console.log(response);
                },
                error: function (response, status, error) {
                    console.log(status);
                },
            });
        }
    </script>
}
