@model IEnumerable<CompanyManagementWeb.Models.PostCategory>
@inject CompanyManagementWeb.Services.IUserService userService

@{
    ViewData["Title"] = "Index";
}

<div class="d-flex justify-content-between my-3">
    <h2 class="m-0 align-bottom">Danh mục bài đăng</h2>
    @if (await userService.IsInPermission("PostCategory", "Edit"))
    {
        <a class="m-0 align-bottom btn btn-secondary" asp-action="Create">Tạo danh mục</a>
    }
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Danh mục
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="align-middle">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @if (await userService.IsInPermission("PostCategory", "Edit"))
                {
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary mx-2 float-end">Chỉnh sửa</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger mx-2 float-end">Xóa</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
